.vs/CalProj/v14/.suo
.vs/CalProj/v15/.suo
.vs/CalProj/v15/Server/sqlite3/db.lock
.vs/CalProj/v15/Server/sqlite3/storage.ide
.vs/CalProj/v15/Server/sqlite3/storage.ide-shm
.vs/CalProj/v15/Server/sqlite3/storage.ide-wal
